.side_bar
  .side_bar__user-name
    .side_bar__user-name__top-items
      .side_bar__user-name__top-items__name
        masa
      .side_bar__user-name__top-items__icons
        = link_to "#", class: "side_bar__user-name__top-items__icons-icon" do
          = icon('fas' , 'edit')
        = link_to "#", class: "side_bar__user-name__top-items__icons-icon" do
          = icon('fas' , 'cog')
  .side_bar__group-list
    .side_bar__group-list__group-name
      Techcamp
    .side_bar__group-list__latest-message
      まだメッセージがありません